/* ここから下に記載していく */
@charset "utf-8";



/*
base style
*/
body {
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-family: 'Shippori Mincho', serif;
  font-size: 18px;
  line-height: 1.75;
  color: #333333;
  margin: 0 auto;
}

label,
input,
textarea,
select,
button {
  cursor: pointer;
  z-index: 100;
}
/*ナビゲーション*/
.bg {
  background: #fbc114;
  width: 350px;
  min-height: 1100px
}
.navber {
  padding: 40px 40px 45px;
  position: absolute;
  top:0;
  right: auto
  lift:0;
}
/*チーズロゴ*/
.logo img{
  width: 180px;
  margin: 0;
  text-align: center;
}

.nav {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  text-align: left;
}
.nav > li > a {
  color: #fff;
  line-height:1.333333;
  font: size 1.8em;
  text-decoration: none;
}
.nav > li {
  margin-bottom: 30px;
}
/*SNSロゴ*/
.social img{
  width: 22px;
}
/*メインビジュアル*/


.mainvisual-text{
position: absolute;
top:100px;
left: 1200px;
z-index: 10;
}
.mainvisual h2 {
  line-height: 70px;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  -webkit-writing-mode: vertical-rl;
    /* 実装済 */
    -moz-writing-mode: vertical-rl;
    /* 実装済 */
    -ms-writing-mode: vertical-rl;
    /* 実装済 */
    -writing-mode: vertical-rl;
}
.small {
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}
.mask img{
  margin: 0 0 0 280px;
  position: absolute;
  top: 0;
  z-index: 3;
}
.mask::before{
  height: calc(((100vw - 280px) * (1060 / 1220)) + 80px);
  min-height: 1010px;
  background: rgba(251, 193, 20, 0.1);
  content: "";
  z-index: -1;
      position: absolute;
        top: 0;
        right: 0;
        left: 0;
}

/*2番目のセクション*/
.pickup-section {
  margin: -530px auto;
  position: relative;
  width: 980px;
}
.pickup-section h2 {
  position: relative;
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 50px;
}
.pickup-section p{
text-align: center;
}

/*写真スライド*/
.slide-container {
  width: 100%;
  margin: 50px auto ;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
  animation: slide-flow 20s infinite linear 1s both;
}

.slide {
  width: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
}

@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
/*3番目のセクション*/
.about-section {
  margin: 610px auto 0 auto;
  background-color: aqua;
  background-image: url("/img/mainbg.png");
  background-size: cover;
  min-width: 1343px;

}
.about-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 40px ;

}
.about-inner {
  background-color: rgba(249, 236, 202,0.5);
  height: 300px;
}
.about-section p {
  text-align: center;
  margin: 0 auto 50px auto;
  z-index: 3;
  font-weight: 600;
  font-size: 1.8rem;
  padding-top: 100px;

}
/*4番目のセクション*/
.product-section {
  width: 980px;
  margin: 100px auto;
}
.product-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.product-box {
  display: flex;
  margin: 70px auto;
}
.body {
  width: 50%;
  min-height: 100px;
  text-align: center;
  vertical-align: middle;
  background: #FFFFEF;
  padding-top: 120px;
  z-index: 4;
  position: relative;
  /* padding-right: 50px; */
}


.body h3 {
  font-weight:bold;
  font-size: 1.3rem;
  padding-bottom: 40px;

}
.body p {
  padding-bottom: 120px;
  width: 380px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.image {
width: 50%;
height: auto;
position: relative;
z-index: -1;
margin-left: -190px;
}
/* .image img {
  max-width: 490px;
  width: %;

} */

.product-box:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
  /*左右入れ替え*/
}
/*5番目ニュースnewsのセクション*/
.news-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 50px 0 70px 0;
}
.news-section {
  width: 980px;
  margin: 100px auto;
}
.news-inner {
display: flex;
text-align: center;
}
.news-box:hover {
  color: #000;
  /* 文字色を白にする */
  background-color: #c9c9c9;
  /* 背景色をグレー（#c9c9c9）にする */
  text-decoration: none;
  /* リンクに出てくる下線を無効にする*/
}

.body-news {
padding: 30px 0 ;

}
.body-news h3 {

  font-weight: bold;
  font-size: 1.3rem;

}
.body-news p {
  padding: 40px 20px;
  text-align: left;
  line-height: 1.8;
}

/* .btn {
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #fbc114;
  display: inline-block;
  padding: 20px 40px 20px 40px;
  position: relative;
  border: 3px solid #fbc114;
} */
.btn {
  background: #fbc114;
  border: none;
  color: white;
  font-size: 17px;て
  font-weight: bold;
  padding: 20px 50px;
  margin: 0 8px;
  text-decoration: none;
}

.btn-news {
  text-align: center;
  padding: 30px 0;
}

/*6番目ニュースacsessのセクション*/
.acces-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 60px 0;
}

.acces-section {
  background-color: #FFFFEF;
  margin: 100px auto;
  padding-bottom: 50px;
}
.map {
  text-align: center;
}

.kaisha {
  width: 890px;
  margin: 0 auto;
}

.kaisha th,
.kaisha td  {
  padding: 20px;
}

.kaisha th {
  font-weight: bold;
}
.address {
    padding: 90px 0 70px 0;
}


@media screen and (max-width: 767px) {

  .kaisha,
  .kaisha tr,
  .kaisha td,
  .kaisha th {
    display: block;
  }

  .kaisha th {
    width: auto;
  }
}
.address {
  text-align: center;
}

/*7番目コンタクトcntactのセクション*/
.contact-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 50px 0;
}
.contact-section p {
  line-height: 2;
}

.contact-section {
  text-align: center;
  margin: 100px auto;

}
/*お問い合わせフォームのセクション*/
.lead-form {
  text-align: center;
  font-size: 20px;
}

form {
  width: 460px;
  margin: 0 auto;
  padding: 80px 0;
}

.item {
  display: flex;
  overflow: hidden;
  margin-bottom: 40px;
}

.label {
  float: left;
  margin-right: 20px;
  width: 135px;
  border-left: solid 3px #fbc114;
  padding-left: 10px;
}
label{
  display: block;

}
.inputs-innner label{
  display: inline;
  padding: 40px 0;
}
.inputs-innner {
  padding: 9px 0;
}

.inputs {
  text-align: left;
  float: left;
  width: 300px;
}

input[type="text"],
input[type="email"] {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.btn-area {
  text-align: center;
  padding-top: 90px;
}

input[type="submit"] {
  background: #fbc114;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 50px;
  margin: 0 8px;
}

input[type="reset"] {
  background: #aaa;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 50px;
  margin: 0 8px;
}
/*footer*/
.footer {
  padding: 2rem;
  font-size: 15px;
  color: #fff;
  background: #fbc114;
}

.footer a{
  text-decoration: none;
  color: #fff;
}
.footer__navi {
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer__navi li {
  display: inline-block;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}
