/* ここから下に記載していく */
@charset "utf-8";



/*
base style
*/
body {
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-family: 'Shippori Mincho', serif;
  font-size: 18px;
  line-height: 1.75;
  color: #333333;
  margin: 0 auto;
}

label,
input,
textarea,
select,
button {
  cursor: pointer;
  z-index: 100;
}
/*ナビゲーション*/
.bg {
  background: #fbc114;
  width: 350px;
  min-height: 1100px
}
.navber {
  padding: 40px 40px 45px;
  position: absolute;
  top:0;
  right: auto
  lift:0;
}
/*チーズロゴ*/
.logo img{
  width: 180px;
  margin: 0;
  text-align: center;
}

.nav {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  text-align: left;
}
.nav > li > a {
  color: #fff;
  line-height:1.333333;
  font: size 1.8em;
  text-decoration: none;
}
.nav > li {
  margin-bottom: 30px;
}
/*SNSロゴ*/
.social img{
  width: 22px;
}
/*メインビジュアル*/
.mask img{
  margin: 0 0 0 280px;
  position: absolute;
  top:0;
  z-index: 3;
}
.mask::before{
  height: calc(((100vw - 280px) * (1060 / 1220)) + 80px);
  min-height: 1010px;
  background: rgba(251, 193, 20, 0.1);
  content: "";
  z-index: -1;
      position: absolute;
        top: 0;
        right: 0;
        left: 0;
}
/*2番目のセクション*/
.pickup-section {
  margin: -560px auto;
  position: relative;
  width: 980px;
}
.pickup-section h2 {
  position: relative;
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 40px;
}
.pickup-section p{
text-align: center;
}

/*写真スライド*/
.slide-container {
  width: 100%;
  margin: 50px auto ;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
  animation: slide-flow 20s infinite linear 1s both;
}

.slide {
  width: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
}

@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
/*3番目のセクション*/
.about-section {
  margin: 610px auto 0 auto;
  background-color: aqua;
  background-image: url("/img/mainbg.png");
  background-size: cover;
  min-width: 1343px;

}
.about-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 40px ;

}
.about-inner {
  background-color: rgba(249, 236, 202,0.5);
  height: 300px;

}
.about-section p {
  text-align: center;
  margin: 0 auto 50px auto;
  z-index: 3;
}
/*4番目のセクション*/
.product-section {
  width: 980px;
  margin: 100px auto;
}
.product-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.product-box {
  display: flex;
  margin: 70px auto;
}
.body {
  width: 50%;
  min-height: 220px;
  text-align: center;
  vertical-align: middle;
}
.image {
  width: 50%;
}
.image img {
  width: 100%;
}

.product-box:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  /*左右入れ替え*/
}
/*5番目ニュースnewsのセクション*/
.news-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.news-section {
  width: 980px;
  margin: 100px auto;
}
.news-inner {
display: flex;
}
.news-box:hover {
  color: #000;
  /* 文字色を白にする */
  background-color: #c9c9c9;
  /* 背景色をグレー（#c9c9c9）にする */
  text-decoration: none;
  /* リンクに出てくる下線を無効にする*/
}

.btn {
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: pink;
  display: inline-block;
  padding: 20px 40px 20px 40px;
  position: relative;
  border: 3px solid pink;
}
.btn-news {
  text-align: center;
  padding: 60px 0;
}

/*6番目ニュースacsessのセクション*/
.acces-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.acces-section {
  background-color: #fbc114;
  margin: 100px auto;
}
.map {
  text-align: center;
}

.kaisha {
  width: 100%;
}

.kaisha th,
.kaisha td {
  padding: 20px;
}

.kaisha th {
  font-weight: bold;
}

@media screen and (max-width: 767px) {

  .kaisha,
  .kaisha tr,
  .kaisha td,
  .kaisha th {
    display: block;
  }

  .kaisha th {
    width: auto;
  }
}
.address {
  text-align: center;
}

/*7番目コンタクトcntactのセクション*/
.contact-section h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.contact-section {
  text-align: center;
  margin: 100px auto;
}
/*footer*/
.footer {
  padding: 2rem;
  font-size: 15px;
  color: #9ca3af;
  background: #fbc114;
}

.footer__navi {
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer__navi li {
  display: inline-block;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}
